<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.PurchaseMapper">
    <insert id="inpurchase">
    	insert into purchase(oid, uid, uname, phone, address1, address2, sum)
    	values(#{oid}, #{uid}, #{uname}, #{phone}, #{address1}, #{address2}, #{sum})
    </insert>
    <insert id="inorder">
    	insert into orders(oid, pid, lprice, qnt)
    	values(#{oid}, #{pid}, #{lprice}, #{qnt})
    </insert>
    <select id="lipurchase" resultType="hashmap">
    	select *, format(sum, 0) as fmtsum, date_format(regdate, '%Y-%m-%d %T') as fmtdate
    	from purchase where uid=#{uid} order by regdate desc limit #{start}, #{size};
    </select>
    <select id="liorders" resultType="hashmap">
    	select * from view_orders where oid=#{oid};
    </select>
    <select id="topurchase" resultType="int">
    	select count(*) from purchase where uid=#{uid}
    </select>
</mapper>